@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #8bc34a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  width: 100%;
}

nav {
  padding: 0 2rem;
  border: 2px solid white;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 200px;
  color: #fff;
}

.name {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 10%;
  text-align: left;
}

.score-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.2rem;
  margin: 20px 0;
  text-transform: uppercase;
}

.score {
  width: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.1rem 1.5rem;
  background: #fff;
  border-radius: 0.6rem;
  width: 140px;
  height: 140px;
}
.score h2 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.score p {
  font-size: 58px;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.game-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  width: 30%;
  flex-wrap: wrap;
  position: relative;
  gap: 3rem;
}

.icon {
  width: 155px;
  height: 155px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.rock {
  border: 16px solid #0074b6;
}
.paper {
  border: 16px solid #ffa943;
}
.scissors {
  border: 16px solid #bd00ff;
}

.buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 150px;
  right: 0;
  margin-right: 4.5rem;
  bottom: 0;
  margin-bottom: 2rem;
}

.button {
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 7px 22px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 600;
  line-height: 24.61px;
  letter-spacing: 0.1em;
  text-align: left;
}

.button:hover {
  background-color: #f3f2f276;
}

/* rules section */
.rule {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 335px;
  bottom: 0;
  right: 0;
  gap: 20px;
  border-radius: 13px 13px 13px 13px;
  border: 7px solid #ffffff;
  background-color: #004429;
  margin-bottom: 6rem;
  margin-right: 6rem;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  text-align: left;
}

.rule > h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 29px;
  font-weight: 500;
  line-height: 33.98px;
  text-align: left;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  text-align: justify;
  list-style-type: none;
}

ul li {
  position: relative;
  padding-left: 18px;
}

.lists {
  color: #fff;
  width: 230px;
}

/* utility class */
.hidden {
  display: none;
  visibility: hidden;
}

ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../assets/Rectangle5.png");
  background-size: contain;
  width: 10px;
  height: 10px;
}

.close-btn {
  position: absolute;
  top: -30px;
  right: -30px;
  background-color: red;
  border: 5px solid #fff;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 30px;
  padding: 2px;
}

.close-btn:hover {
  background-color: darkred;
}

.game-icons .icon:hover {
  transform: scale(1.1);
}

.icon:hover {
  box-shadow: 1px 1px 10px #e6f5fe;
}

.play-again {
  background-color: white;
  color: black;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.58px;
  letter-spacing: 0.1em;
  text-align: left;
}

.play-again:hover {
  background-color: #dddddd;
}

.choice-container {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 4rem;
}

.choice-container img {
  object-fit: scale-down;
}

.userChoice,
.result,
.pcChoice {
  color: #fff;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 4rem;
  margin: 2rem 0rem;
  gap: 1rem;
  border-radius: 50%;
}

.userChoice h1,
.pcChoice h1 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: left;
}

.userScore,
.pcScore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  border: 2px solid black;
  border-radius: 10px;
}

#final {
  font-family: Roboto;
  font-size: 29px;
  font-weight: 800;
  line-height: 45.7px;
  letter-spacing: 0.1em;
  text-align: center;

  & span {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 800;
    line-height: 29.3px;
    letter-spacing: 0.1em;
    text-align: center;
  }
}

.line {
  position: absolute;
  width: 20px !important;
  height: 200px !important;
  background-color: rgb(172, 172, 172);
}

.line:nth-of-type(1) {
  right: 31% !important;
  top: 25% !important;
  transform: rotate(35deg);
  z-index: -1;
}

.line:nth-of-type(2) {
  left: 32% !important;
  top: 25% !important;
  transform: rotate(-35deg);
  z-index: -1;
}

.line:nth-of-type(3) {
  top: -6% !important;
  right: 47.5% !important;
  transform: rotate(90deg);
  z-index: -1;
}

/* winner Borders */
.icon-with-rings {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: -1;
  box-shadow: 0 0 0 50px rgba(83, 153, 39, 0.7),
    0 0 0 80px rgba(92, 170, 43, 0.6), 0 0 0 105px rgba(78, 182, 69, 0.3);
}

/* Adjust for bigger screen (1920x1080) */
@media (min-width: 1600px) and (max-width: 1920px) {
  .game-icons {
    width: 20%;
    top: 100px;
  }
  .line {
    width: 20px !important;
    height: 250px;
  }

  .line:nth-of-type(1) {
    right: 45%;
    top: 40%;
    transform: rotate(35deg);
  }

  .line:nth-of-type(2) {
    bottom: 8%;
    left: 45%;
    top: 40%;
    transform: rotate(-35deg);
  }

  .line:nth-of-type(3) {
    top: 28%;
    transform: rotate(90deg);
  }
}

/* Responsive for mobile devices */
@media (min-width: 300px) and (max-width: 768px) {
  .name {
    display: none;
  }
  nav {
    width: 400px;
  }
  .score-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
    margin: 20px 0;
    text-transform: uppercase;
    margin: auto;
  }
  .score {
    width: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.1rem 1.5rem;
    background: #fff;
    border-radius: 0.6rem;
    width: 140px;
    height: 140px;
    margin: auto;
  }
  .line {
    position: absolute;
    width: 15px !important;
    height: 80px;
  }

  .line:nth-of-type(1) {
    top: 10% !important;
  }
  .line:nth-of-type(2) {
    top: 60% !important;
  }
  .line:nth-of-type(3) {
    display: none;
  }

  .line:nth-of-type(1),
  .line:nth-of-type(2) {
    transform: rotate(180deg);
    left: 45% !important;
  }
}
